.main {
    min-width: 1920px;
    max-width: 2920px;
    min-height: 2000px;
    max-height: 4000px;
    background: rgba(229, 229, 229, 0.5);
    box-sizing: border-box;
}
header {
    width: 1920px;
    height: 67px;
    background-color: #FFF;
    position: relative;
    flex-wrap: wrap;
}
.img-logo {
    width: 195px;
    height: 27px;
    position: absolute;
    left: 186px;
    top: 20px;
}

.h1 {
    font-family: Graphik LCG;
    font-size: 24px;
    line-height: 28,13px;
    position: absolute;
    left: 223px;
    top: 7px;
}

.header_1container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.select {
    width: 85px;
    height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    position: absolute;
    left: 1007px;
    top: 14px;
    box-sizing: border-box;
  
}
.center {
    text-align: center;
}
.RUS {
    width: 85px;
    height: 38px;
}

.button {
    width: 185px;
    height: 38px;
    position: absolute;
    border: 1px solid #4e79b3;
    border-radius: 3px;
    background-color: #4385DC;
    box-sizing: border-box;
    top: 14px;
    left: 1106px;
    color: #fff;

}

.longer {
    width: 550px;
    height: 38px;
    padding: 11px 32px;
    color: #bdbdbd;
    font-size: 14px;
    background-image: url('/images/Vector.png');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: 11px 11px;

}
.local {
    width: 205.62px;
    height: 38px;
}
.access {
    width: 205.62px;
    height: 38px;
}
.button_search {
    width: 90px;
    height: 38px;
    background-color: #4385DC;
    color: #FFF;
    border-radius: 3px;
}
.gap {
    line-height: 16.41px;
    margin-left: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    
}
.text-all {
    color: #333;
    font-size: 19px;
    word-spacing: 3px;
    line-height: 16.41px;
    text-decoration: none;
}
.newsites {
    color: #005de8;
    font-size: 19px;
    line-height: 16.41px;
    text-decoration: none;
}
.micro-con {
    display: flex;
    align-items: center;
    align-content: center;
}
.markers {
    color: #005de8;
    font-size: 19px;
    line-height: 16.41px;
    margin-right: 25px;
}
.hr1 {
    width: 100%;
    color: black;
    height: 0px;
    margin-left: 191px;
    width: 1100px;
    margin-top: 18px
}
.hr3 {
    width: 106px;
    background-color: #4385dc;
    height: 4px;
    margin-left: 191px;
    margin-top: -15px
}
.container__search {
    width: 1100px;
    height: 50px;
    margin-top: 38px;
    margin-left: 190px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;

}
.container__site-name {
    width: 1075px;
    height: 220px;
    border-radius: 3px;
    padding-top: 22px;
    padding-bottom: 71px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 191px;
    margin-top: 42px;
    margin-bottom: -10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
}
.img {
    width: 403px;
    height: 223px;
    margin-right: 0;
}
.betweenner {
    font-size: 17.7px;
    color: #828282;
}
.betwenner-p {
    margin-top: -2.8px;
}
h2 {
    font-size: 20px;
    color: #333;
    line-height: 21.09px;
    margin-right: 10px;
    word-spacing: 3px;
}
.before-h2 {
    margin-top: -8px;
}

.no_dec {
    text-decoration: none;
}
.mini-con {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    align-items: center;
    margin-top: -15px;
}
.teg {
    color: #193961;
    font-size: 13px;
    line-height: 18.28px;
    text-decoration: none;
    word-spacing: 4px;
}
.lot-text {
    font-size: 16px;
    line-height: 20px;
    word-spacing: 1px;
}
.main_text {
    margin-top: -5px;
}
.hr2 {
    width: 620px;
    height: 0px;
    color: #e0e0e0;
    margin-left: 0;
    margin-top: -8px
}
.names_mode {
    font-size: 14px;
    line-height: 22.97px;
    word-spacing: 20px
}
.names_modep {
    margin-top: -8px
}
.link {
    font-size: 16px;
    line-height: 22.97px;
    color: #005de8;
    text-decoration: none;
}
.local2 {
    margin-top: -10px
}
.language {
    margin-top: -10px
}
.under-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.status {
    font-size: 14px;
    line-height: 16.41px;
    color: #27ae60;
    margin-right: 19px
}
.content {
    width: 640px;
    height: 382px;
    margin-top: -10px
}
.imgEllipse {
    background-repeat: no-repeat;
    width: 4px;
    height: 4px;
    margin-left: 4px;
    margin-right: 4px;
}
.more {
    position: relative;
    left: 723px;
    top: 26px
}
footer {
    width: 1920px;
    height: 67px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
    margin-top: 45px
}
.ending {
    width: 1100px;
    height: 67px;
    margin-left: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-faq {
    width: 180px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.faq {
    font-size: 14px;
    color: #4385dc;
}
.faql {
    font-size: 13px;
    font-style: https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css

    <link rel="stylesheet prefetch" href="https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css">;
}